.pagination-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 18px;
  margin-bottom: 28px;
}

.pagination-button {
  border: 1px solid gray;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 12px;
  cursor: pointer;
  outline: none;
}

.current-page {
  padding: 4px 10px;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
}
