.movie-details-container {
  margin: auto;
}

@media screen and (min-width: 992px) {
  .movie-details-container {
    width: 85%;
  }
}

.movie-details {
  width: 100%;
  margin-top: 18px;
  display: flex;
  gap: 28px;
}

.movie-details-poster-img {
  width: 40%;
  height: 600px;
  border-radius: 10px;
  margin-left: 10px;
}

.movie-details-content {
  padding-left: 15px;
  padding-right: 28px;
}

.movie-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-title {
  font-family: 'Roboto';
  font-weight: 600;
}

.back-btn {
  background-color: #000;
  color: #ffffff;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.overview {
  margin-top: 10px;
  margin-bottom: 28px;
  line-height: 2;
  width: 90%;
}

.cast-details {
  padding: 10px;
}

.cast-list-container {
  list-style-type: none;
  padding-left: 0%;
  display: flex;
  flex-wrap: wrap;
}
