.cast-card {
  width: 12%;
  margin-bottom: 28px;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cast-profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.original-name {
  margin-bottom: 0%;
}
