.movie-container {
  margin: auto;
}

.loader-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-content {
  list-style-type: none;
  padding: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 18px;
}

@media screen and (min-width: 768px) {
  .movie-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
  }
}

@media screen and (min-width: 992px) {
  .movie-container {
    width: 85%;
  }
  .movie-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
